* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e)no-repeat;
  color: #d1d1d1;
  height: 100%;
}